<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Angular 1.x ToDo App</title>
		<!-- Bootstrap.min.css CDN -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- todo css -->
		<link rel="stylesheet" href="app/css/todo.css">
		<!-- Angular 1.5.6 -->
		<script src="app/lib/angular.min.js"></script>
		<!-- app.js -->
		<script src="dist/app.min.js"></script>
	</head>
	<body ng-app="ngToDo">
		<div class="navbar navbar-inverse">
			<h2 class="heading pull-left">ToDo</h2>
			<img alt="Angular" title="Angular" class="header-img pull-right" src="app/images/Angular.png" />
		</div>

		<section class="ngToDo" ng-controller="toDoCtrl">
			<div class="outer-container">
				<div class="row">
					<div class="add-todo-group input-group input-group-lg">
				        <span class="input-group-addon">
				          	<i class="glyphicon glyphicon-list-alt"></i>
				        </span>
				        <input ng-model="newTask" placeholder="New Task" class="form-control" type="text"><!-- model  -->
				        <span class="input-group-btn">
				          	<button ng-click="addNewTask();" class="btn btn-success" type="button"><!-- click  -->
				            	<i class="glyphicon glyphicon-plus"></i>
				          	</button>
				        </span>
			      	</div>
			    </div>    

				<div class="row">&nbsp;</div>
		      	
				<div ng-repeat="todo in todos" class="row"><!-- repeat  -->
					<div class="input-group input-group-lg">
				        <span class="input-group-addon">
				          	<input type="checkbox" ng-model="todo.isComplete" ng-click="checkCompleteState()"> <!-- model -->
				        </span>
				        <input class="form-control" type="text" ng-class="{finished: todo.isComplete}" ng-model="todo.val" /><!-- model / class  -->
				        <span class="input-group-btn">
				          	<button complete-color="todo.isComplete" class="btn btn-danger" type="button" ng-click="deleteToDo($index)"><!-- click  -->
				            	<i class="glyphicon glyphicon-remove"></i>
				          	</button>
				        </span>
			      	</div>
			      	<br/>
			    </div>

				<div class="row">&nbsp;</div>

				<div class="row">
					<div class="btn-clear-group pull-right">
				        <button ng-class="{disabled: ctrl.isDisabled}" class="btn btn-primary btn-clear" ng-click="clearCompleted()">Clear Completed</button><!-- click -->
			      	</div>
			    </div>
		    </div>

		</section>
		
	</body>
</html>